/* css per spingere la freccia dropdown lingue a destra */
.dropdown-allungato::after {
  margin-left: auto !important;
}

.custom-profile-card {
  background-image: url("https://placebear.com/1000/1000");
  background-repeat: no-repeat;
  background-position: top;
  height: 100px;
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;

  position: absolute;
  bottom: -50px;
  left: 20px;

  border: 2px solid white;
}

.bold-link {
  font-weight: bold;
}

.buttom-custom {
  width: fit-content;
  height: fit-content;
}

.dropdown-toggle-no-arrow::after {
  display: none !important;
}

/* CSS pagina rete */

/* effetto hover per link in mia rete */
.custom-hover-effect {
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.custom-hover-effect:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

/* effetto hover button rete */

.custom-btn-follow {
  color: #0a66c2 !important;
  border-color: #0a66c2 !important;
  background-color: #ffffff !important;
  transition: all 0.2s ease-in-out;
}

.custom-btn-follow:hover {
  background-color: #0a66c2 !important;
  color: #ffffff !important;
  border-color: #0a66c2 !important;
}

.custom-btn-follow:disabled {
  background-color: #f3f3f3 !important;
  color: #666666 !important;
  border-color: #666666 !important;
  cursor: not-allowed;
}

.custom-btn-preferenze {
  color: #ffffff !important;
  border-color: #2a8754 !important;
  background-color: #2a8754 !important;
  transition: all 0.2s ease-in-out;
}

.custom-btn-preferenze.disable {
  background-color: #f3f3f3 !important;
  color: #666666 !important;
  border: 2px solid #666666 !important;
  cursor: not-allowed;
}

.link-custom {
  text-decoration: none;
}

.link-custom:hover {
  text-decoration: underline;
}

/* Selettore principale di Google Translate */
.goog-te-combo {
  width: 100% !important; /* Forza la larghezza al 100% del container */
  max-width: 390px !important; /* Limite massimo per combaciare con il tuo vecchio layout */
  padding: 12px 16px !important; /* Spazio interno per renderlo cicciotto e moderno */
  font-size: 16px !important; /* Testo leggermente più grande e leggibile */
  border: 1px solid #dee2e6 !important; /* Colore del bordo simile a Bootstrap */
  border-radius: 4px !important; /* Angoli leggermente smussati */
  background-color: #fff !important;
  color: #212529 !important;
  font-family: inherit !important;
  cursor: pointer;
  outline: none;
}

/* Rimuove la scritta "Offerto da Google Traduttore" o loghi piccoli se danno fastidio visivamente all'interno del widget */
.goog-te-gadget {
  font-size: 0 !important; /* Nasconde il testo di testo "Offerto da..." */
}

.goog-te-gadget span {
  display: none !important; /* Nasconde ulteriori link di Google */
}
