/* css per spingere la freccia dropdown lingue a destra */
.dropdown-allungato::after {
  margin-left: auto !important;
}

.custom-profile-card {
  background-image: url("https://placebear.com/1000/1000");
  background-repeat: no-repeat;
  background-position: top;
  height: 100px;
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;

  position: absolute;
  bottom: -50px;
  left: 20px;

  border: 2px solid white;
}

.bold-link {
  font-weight: bold;
}

.buttom-custom {
  width: fit-content;
  height: fit-content;
}

.dropdown-toggle-no-arrow::after {
  display: none !important;
}

/* CSS pagina rete */

/* effetto hover per link in mia rete */
.custom-hover-effect {
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.custom-hover-effect:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

/* effetto hover button rete */

.custom-btn-follow {
  color: #0a66c2 !important;
  border-color: #0a66c2 !important;
  background-color: #ffffff !important;
  transition: all 0.2s ease-in-out;
}

.custom-btn-follow:hover {
  background-color: #0a66c2 !important;
  color: #ffffff !important;
  border-color: #0a66c2 !important;
}

.custom-btn-follow:disabled {
  background-color: #f3f3f3 !important;
  color: #666666 !important;
  border-color: #666666 !important;
  cursor: not-allowed;
}

.link-custom {
  text-decoration: none;
}

.link-custom:hover {
  text-decoration: underline;
}
