/* css per spingere la freccia dropdown lingue a destra */
.dropdown-allungato::after {
  margin-left: auto !important;
}

.custom-profile-card {
  background-image: url("https://placebear.com/1000/1000");
  background-repeat: no-repeat;
  background-position: top;
  height: 100px;
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;

  position: absolute;
  bottom: -50px;
  left: 20px;

  border: 2px solid white;
}

.bold-link {
  font-weight: bold;
}

.buttom-custom {
  width: fit-content;
  height: fit-content;
}

.dropdown-toggle-no-arrow::after {
  display: none !important;
}
