/* NAVBAR */
.linkedin-navbar {
  height: 55px;
}

.linkedin-search {
  width: 230px;
}

.linkedin-location {
  width: 180px;
}

.linkedin-search input,
.linkedin-location input {
  font-size: 15px;
  height: 30px;
}

.linkedin-search .input-group-text,
.linkedin-location .input-group-text {
  height: 30px;
  padding: 0 10px;
}

.linkedin-item {
  width: 70px;
  height: 55px;
  color: #666;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.linkedin-item svg {
  font-size: 25px;
  margin-bottom: 5px;
}

.linkedin-item span {
  white-space: nowrap;
}

.linkedin-item:hover {
  color: #000;
}

.button-custom span {
  font-size: 13px;
  position: relative;
  top: 3px;
}

.linkedin-item.active {
  border-bottom: none;
}

.linkedin-item.active {
  border-bottom: none;
}

.linkedin-caret {
  font-size: 15px !important;
  margin-left: 5px;
}

.home-shift {
  position: relative;
  left: 25px !important;
}

.linkedin-avatar {
  width: 29px;
  height: 29px;
}

.linkedin-divider {
  height: 55px;
}

.linkedin-profile-text {
  font-size: 13px;
}

.linkedin-business {
  width: 90px;
}

.linkedin-premium {
  width: 110px;
  height: 55px;
  color: #915907;
  font-size: 11.5px;
  line-height: 1.15;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* DROPDOWN "Per le aziende" */
.linkedin-business-dropdown .dropdown-toggle::after {
  display: none;
}

.linkedin-business {
  cursor: pointer;
}

.linkedin-business-menu {
  width: 630px;
  border-radius: 0 0 10px 10px;
  border: 1px solid #ddd;
  transform: translateY(5px);
}

.business-left {
  width: 300px;
  border-right: 1px solid #ddd;
}

.business-right {
  width: 330px;
}

.business-app {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 15px;
}

.business-icon {
  width: 35px;
  font-size: 20px;
  color: #0a66c2;
  flex-shrink: 0;
}

.business-app:hover strong,
.business-right div:hover strong,
.business-right div:hover p,
.business-right strong:hover {
  text-decoration: underline;
  cursor: pointer;
}

.premium-modal {
  max-width: 350px !important;
}